<script src="app/javascript/packs/homes/vue.js"></script>
<div class="homes">
  <h1>仮想通貨取引所比較所</h1>
  <button v-on:click="nowAsk">現在の最安値</button>
  <p>{{ coincheckAsk }}円</p>
  <p>{{ bitflyerAsk }}円</p>
</div>